.ninja_*
.deps
build/
bin/
c/
doc/
debian/*.dsc
debian/*.deb
debian/*.changes
debian/*.build
debian/*.upload
debian/*.tar.gz
debian/khovsgol/*.mk
debian/khovsgol/Makefile
debian/khovsgol/README
debian/khovsgol/src/
debian/khovsgol/resources/
debian/khovsgol/bin/
debian/khovsgol/debian/changelog
debian/khovsgol/debian/files
debian/khovsgol/debian/*.log
debian/khovsgol/debian/*.substvars
debian/khovsgol/debian/tmp/
debian/khovsgol/debian/khovsgol-server/
debian/khovsgol/debian/khovsgol-cli/
debian/khovsgol/debian/khovsgol-gtk/
debian/khovsgol/debian/khovsgol-receiver/

