[Desktop Entry]
Encoding=UTF-8
Name=Khövsgöl Server
Comment=Music player and library/playlist manager
Type=Application
Categories=AudioVideo;Audio;Player;GTK;
Icon=khovsgol
Terminal=false
